// Variables
@import "variables";

// Bootstrap
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";
//login
.login {
    .card {
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0, 0, 0, 0.5) !important;
    }

    .card-header h3 {
        color: white;
    }

    .input-group-prepend span {
        justify-content: center;
        width: 50px;
        background-color: #458fcc;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .remember {
        color: white;
    }

    .remember input {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .login_btn {
        color: black;
        background-color: #458fcc;
        width: 100px;
    }

    .login_btn:hover {
        color: black;
        background-color: white;
    }
}
// header
.header {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
    max-height: 6rem;
    a {
        color: #144a8d !important;
        background-color: #ffffff;
        font-size: 1.14286rem;
        font-weight: 600;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-box-shadow: 0 0 1px transparent;
        box-shadow: 0 0 1px transparent;
        position: relative;
        overflow: hidden;
    }
    .nav-link {
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        color: #144a8d;
        padding: 15px 0px !important;
        margin: 0px 20px;
        display: inline-block;
        position: relative;
        opacity: 0.75;
    }

    .nav-link:hover {
        opacity: 1;
    }

    .nav-link::before {
        transition: 300ms;
        height: 3px;
        content: "";
        position: absolute;
        background-color: #144a8d;
    }
    .nav-link-fade-up::before {
        width: 100%;
        bottom: 5px;
        opacity: 0;
    }

    .nav-link-fade-up:hover::before {
        bottom: 10px;
        opacity: 1;
    }
    .nav-link-current::before {
        opacity: 1;
        bottom: 10px;
    }
    .nav-link-current {
        opacity: 1;
    }
}

.notification {
    overflow: inherit !important;
    padding-left: 10px;
    i {
        color: #144a8d;
        text-decoration: none;
        position: relative;
        display: inline-block;
    }
    i:hover {
        color: #458fcc;
    }
    .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 3px 6px;
        border-radius: 50%;
        background: red;
        color: white;
    }
}

body {
    font-family: "Proxima Nova";
    position: relative;
    min-height: 100vh;
    @media screen and (max-width: 1380px) {
        #picture{
            width: 130px !important;
        }
        font-size: 12px !important;
        th, span, a, legend, label, li, button {font-size: 12px !important;}
        input, select { font-size: 12px !important; font: caption }
    }
}
//footer
.footer {
    position: absolute;
    padding-bottom: 10px;
    padding-top: 25px;
    width: inherit;
    bottom: 0;
    color: #fff;
    background: #032b5e -webkit-gradient(linear, left top, right top, from(#032b5e), to(#032b5e));
    background: #032b5e linear-gradient(90deg, #032b5e 0, #032b5e 100%);
}

table.dataTable thead tr {
    background: #458fcc linear-gradient(90deg, #458fcc 0, #458fcc 100%);
}

.fixed-footer {
    @media screen and (min-width: 1040px) {
        padding-bottom: 11rem;
    }
    @media screen and (max-width: 1039px) {
        padding-bottom: 15rem;
    }
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 0.5em 0.5em 0.5em !important;
    margin: 0 0 0.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}
@media only screen and (max-width: 1980px) {
    .logo-login{
        height: 300px;
    }
    .modal-lg {
        max-width: 80%;
    }
  }
@media only screen and (max-width: 1380px) {
    .logo-login{
        height: 175px;
    }
    .modal-lg {
        max-width: 95%;
    }
  }
.datepicker {
    z-index: auto !important; /* has to be larger than 1050 */
}

// chosen
select.form-control + .chosen-container.chosen-container-single .chosen-single {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image: none;
}

select.form-control
    + .chosen-container.chosen-container-single
    .chosen-single
    div {
    top: 4px;
    color: #000;
}

select.form-control + .chosen-container .chosen-drop {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    margin: 2px 0 0;
}

select.form-control + .chosen-container .chosen-search input[type="text"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image: none;
}

select.form-control + .chosen-container .chosen-results {
    margin: 2px 0 0;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    margin-bottom: 5px;
}

select.form-control + .chosen-container .chosen-results li,
select.form-control + .chosen-container .chosen-results li.active-result {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333;
    white-space: nowrap;
    background-image: none;
}
select.form-control + .chosen-container .chosen-results li:hover,
select.form-control + .chosen-container .chosen-results li.active-result:hover,
select.form-control + .chosen-container .chosen-results li.highlighted {
    color: #fff;
    text-decoration: none;
    background-color: #428bca;
    background-image: none;
}

select.form-control + .chosen-container-multi .chosen-choices {
    display: block;
    width: 100%;
    min-height: 34px;
    padding: 6px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-image: none;
}

select.form-control
    + .chosen-container-multi
    .chosen-choices
    li.search-field
    input[type="text"] {
    height: auto;
    padding: 5px 0;
}

select.form-control + .chosen-container-multi .chosen-choices li.search-choice {
    background-image: none;
    padding: 3px 24px 3px 5px;
    margin: 0 6px 0 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

select.form-control
    + .chosen-container-multi
    .chosen-choices
    li.search-choice
    .search-choice-close {
    top: 8px;
    right: 6px;
}

select.form-control
    + .chosen-container-multi.chosen-container-active
    .chosen-choices,
select.form-control
    + .chosen-container.chosen-container-single.chosen-container-active
    .chosen-single,
select.form-control
    + .chosen-container
    .chosen-search
    input[type="text"]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 8px rgba(102, 175, 233, 0.6);
}

select.form-control
    + .chosen-container-multi
    .chosen-results
    li.result-selected {
    display: list-item;
    color: #ccc;
    cursor: default;
    background-color: white;
}
form {
    .input-group {
        padding-bottom: 0.5rem;
        .chosen-container {
            width: 65% !important;
            .chosen-single {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                height: 100% !important;
                span {
                    line-height: 1.5rem;
                }
            }
        }
    }
    .input-group-prepend {
        width: 35%;
    }
    .input-group-text {
        width: 100%;
    }
}

.filter {
    background-color: whitesmoke;
    margin-left: -15px;
    margin-right: -15px;
    .yadcf-filter {
        width: 85%;
    }
    .yadcf-filter-wrapper {
        width: 100%;
    }
    #ChauLucFilter_chosen {
        padding-left: 15px;
    }
}

.form-HoSoNLD, .form-tcnn {
    li {
        a {
            display: inline-block;
            text-transform: uppercase;
            font-size: smaller;
            color: #000;
            text-decoration: none;
        }
        .active::after {
            width: 100%;
        }
        a::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: #144a8d;
            transition: width 0.3s;
        }
        a:hover::after {
            width: 100%;
        }
    }
    .dropdown-selects {
        .chosen-container{
            width: 11.65rem !important;
        }
    }
}

.hide{
    display: none;
}
#loader {
    position: absolute;
    left: 50%;
    top: 40%;
    z-index: 99999;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
table{
    #yadcf-filter-wrapper--HoSoNLD-3 {
        input{
            width: 100px;
        }
        button{
            display: none;
        }
    }
}